body{
    background-color:lavender;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.common {
    /* background-color: #CCCCCC; */
    /* border: 2px solid white; */
    position: absolute;
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    
}
.centre{
	display: block;
	margin: 0 auto; 
}
.leftmenu{
    top: 114px;
    width: 100px;
    left: 5px;
    bottom: 39px;
    z-index: 1;
    border-right: solid 1px #555555;
    padding-right: 10px;
    font-size: 14px;
    padding-bottom: 40px;
    /* padding-top: 200px; */
}
.mainbody{
    top: 114px;
    left: 114px;
    bottom: 39px;
    right: 114px;
    padding-right: 5px;
    padding-left: 5px;
    height:auto;
    padding-bottom: 40px;
}
.rightmenu{
    top: 114px; 
    width: 100px;
    right: 5px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;
    padding-bottom: 40px;
}
.footer{
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheader{
    float: right;
    
}
